body {
    margin: 10vh 10vw;
    color: #0066e3;
    font-family: urbanist;
}
* {
    margin: 0 0;
    padding: 0 0;
}

/* HOME */
.homepage {
    border: 3vw solid #e33900;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
}
.intro {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
}
.sophialiu {
    font-family: swungnote;
    font-size: 67px;
    color: #00aede;
    text-shadow: #0066e3 3px 3px;
    font-weight: lighter;
    margin-right: 5px;
}
.sophialiu:hover {
    color: #e33900;
    text-shadow: #ffd000 3px 3px;
}
.introsmall {
    font-size: 20px;
}
.desdev {
    font-family: swungnote;
    font-size: 30px;
    font-weight: regular;
    /* letter-spacing: 1px; */
}

.contact {
    display: flex;
    gap: 2.5vw;
    font-size: 16px;
    font-weight: bold;
}
.contactlink:hover {
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.nextpage {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    justify-content: right;
    cursor: pointer;
}
.thingsworkedon {
    font-weight: bold;
    font-size: 22px;
}
.nextpage:hover > .thingsworkedon {
    color: #e33900;
}
.nextpage:hover > .pointer {
    color: #e33900;
}
.pointer {
    font-size: 27px;
    margin-top: 3px;
}

/* why are there 4 */
.backcontainer-proj:hover > .back {
    color: #e33900;
}
.backcontainer-proj:hover > .backpointer {
    color: #e33900;
}
.backcontainer:hover > .back {
    color: #e33900;
}
.backcontainer:hover > .backpointer {
    color: #e33900;
}
.backpointer {
    font-size: 27px;
    position:relative;
    top:3px;
}

/* NAVBAR */
.navbar {
    display: flex;
    gap: 18px;
    margin: 8vh 0 0 7vw;
    align-self: flex-start;
    position: sticky;
    top: 8vh;
    z-index: 1;
}
ul {
    list-style-type: none;
    font-weight:bold;
}
a {
    color: #0066e3;
    text-decoration: none;
}
.swl {
    font-family: swungnote;
    font-size: 68px;
    /* letter-spacing: 1px; */
    margin-top: -15px;
    color: #00aede;
    text-shadow: #0066e3 3px 3px;
}
.swl:hover {
    color: #e33900;
    text-shadow: #ffd000 3px 3px;
    cursor: pointer;
}
.active {
    font-family: swungnote;
    /* letter-spacing: 1px; */
}
a:hover {
    color: #00aede;
}

/* WORK */
.page {
    border: 3vw solid #e33900;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.board {
    margin: 3vh 7vw 12vh 7vw;
    display: flex;
    width: 80vw;
    gap: 3vw;
}
.card {
    width: 39vw;
}

.cardtint {
    width: 39vw;
    position:relative;
    margin-bottom: 2vw;
}
.cardtint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 4px);
    background: none;
    transition: all .3s linear;
}
.cardtint:hover {
    cursor: pointer;
}
.spotifygreen:hover:before { 
    background:#65d46ed8;
    cursor: pointer;
}
.brown:hover:before { 
    background:#4d9d9ee1;
    cursor: pointer;
}
.red:hover:before { 
    background:#d33520d0;
    cursor: pointer;
}
.pink:hover:before { 
    background:#e8338ed4;
    cursor: pointer;
}
.blue:hover:before { 
    background:#6f95e6dc;
    cursor: pointer;
}
.darkgreen:hover:before { 
    background:#2f6e47d5;
    cursor: pointer;
}

.cardinfo {
    display: none;
    position: absolute;
    width: 38vw;
}
.cardtitle {
    font-size: 36px;
    font-weight: bold;
    color: white;
}
.carddescription {
    color: white;
}
.cardtint:hover > .cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h2 {
    font-size: 26px;
    margin: 5vh 0 0 7vw;
    font-weight: regular;
}

@media screen and (max-width: 768px) {
    .board {
        flex-direction: column;
    }
    .card {
        width: 80vw;
    }
    .cardtint.spotifygreen, .cardtint.brown, .cardtint.red, .cardtint.pink, .cardtint.blue, .cardtint.darkgreen {
        width: 80vw;
    }
    .cardinfo {
        width: 80vw;
    }
}

/* FOR PHONES */
@media screen and (max-width: 430px) {
    .thingsworkedon {
        font-size: 18px;
    }
    .navbar {
        margin: 6vh 0 0 7vw;
        top: 4vh;
        gap: 12px;
    }
    .swl {
        font-size: 60px;
    }
    li {
        font-size: 14px;
    }
    .cardinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .spotifygreen:before { 
        background:#65d46ed8;
        cursor: pointer;
    }
    .brown:before { 
        background:#4d9d9ee1;
        cursor: pointer;
    }
    .red:before { 
        background:#d33520d0;
        cursor: pointer;
    }
    .pink:before { 
        background:#e8338ed4;
        cursor: pointer;
    }
    .blue:before { 
        background:#6f95e6dc;
        cursor: pointer;
    }
    .darkgreen:before { 
        background:#2f6e47d5;
        cursor: pointer;
    }
    h2 {
        font-size: 22px;
    }
    .contact {
        font-size: 14px;
        font-weight: bold;
    }
    .borzoitest {
        font-weight: bold;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5vh;
    bottom: 0;
    position: absolute;
}


/* soph.ai */
.sophaipage {
    border: 3vw solid #e33900;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.sophdotai {
    margin: 0 7vw 5vh 7vw;
    display: flex;
    gap: 3vw;
}
.gifcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.back {
    font-size: 22px;
    font-weight: bold;
}
.backcontainer {
    margin: 2vh 0 2vh 0;
}
.backcontainer-proj {
    margin: 4vh 0 2vh 7vw;
}
.backarrow {
    font-size: 18px;
}
.back:hover {
    color: #e33900;
}
.projtitle {
    margin: 0 0 0.5vh 0;
    font-family: jetbrains mono;
    font-weight: bold;
    font-size: 48px;
}
.projsubtitle {
    margin-bottom: 3vh;
    font-size: 18px;
    font-weight: bold;
}
.gif {
    width: 340px;
    margin-top: 16px;
    margin-bottom: 5px;
}
.gifplaylist {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10vh;
}
.gifplaylist:hover {
    color: #00aede;
}
.playlistname {
    font-family: jetbrains mono;
}
.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vh;
}
.projdesc {
    font-size: 28px;
}
.projdescsmall {
    font-size: 20px;
}
.borzoitest {
    text-decoration: underline 2px #00aede;
    text-underline-offset: 3px;
    font-weight: bold;
}
.borzoitest:hover {
    color: #00aede;
}


@media screen and (max-width: 1050px) {
    .sophdotai {
        flex-direction: column;
    }
    .projtitle {
        font-size: 48px;
    }
    .gifcontainer {
        order: 2;
    }
    .words {
        order: 1;
        padding-bottom: 0;
    }
    .gif {
        width: 100%;
    }
    .sophaipage {
        bottom: auto;
    }
}


/* blog index */
.blogindex {
    border: 3vw solid #e33900;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.blogbar {
    margin: 0 0 0 7vw;
    font-size: 20px;
    font-weight: bold;
    font-family: jetbrains mono;
    width: 80vw;
}
.informal-entries {
    margin-top: 2vh;
    font-family: jetbrains mono;
    font-weight: lighter;
    font-size: 18px;
    list-style-position: inside;
}
.blog-entry {
    margin-bottom: 5px;
}

/* blog page */
.blogpage {
    border: 3vw solid #e33900;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}
.blogstuff {
    margin: 4vh 7vw 12vh 7vw;
    height: fit-content;
}
.blog-heading {
    margin-bottom: 5vh;
}
.blog-title {
    font-size: 48px;
    margin-bottom: 1vh;
    font-family: swungnote;
}
h1 {
    margin-bottom: 1vh;
}
.blog-desc {
    font-size: 18px;
}
.blog-date {
    font-family: jetbrains mono;
    font-size: 14px;
    margin-top: 1vh;
}
.blog-body {
    /* letter-spacing: 0.2; */
    font-size: 21px;
    margin-bottom: 5vh;
}

@media screen and (max-width: 430px) {
    .inprogress {
        margin-top:4vh;
    }
}


/* blog specific */
/* 12/4/23 */
.playlists {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.playlist-desc {
    font-size: 16px;
    font-family: jetbrains mono;
    margin-bottom: 10px;
}
.playlist-desc-comment {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* 1/4/24 */
.haiku-image {
    width: 80vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
    margin-bottom: 4vh;
}
.haiku-book {
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 4vh;
}
.haiku-image-small {
    width: 39vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
}
@media screen and (max-width: 768px) {
    .haiku-book {
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        margin-bottom: 4vh;
    }
    .haiku-image-small {
        width: 80vw;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
    }
}

/* 7/13/2024 */
.blog-image {
    width: 80vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
    margin-bottom: 10px;
}
.image-plus-desc {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-desc {
    font-size: 14px;
    font-style: italic;
}
.blog-header {
    font-weight: bold;
    font-size: 21px;
}
/* 7/25/24 */
.alison-letter-body {
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;
    color: black;
}

@font-face {
    font-family: urbanist;
    src: url('./Urbanist-VariableFont_wght.ttf');
}
@font-face {
    font-family: swungnote;
    src: url('./SwungNote.otf');
}
@font-face {
    font-family: jetbrains mono;
    src: url('./JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: Georgia;
    src: url(NotoSerif-VariableFont_wdth\,wght.ttf);
}

::-moz-selection { /* Code for Firefox */
    background: #ffd000;
    color:#e33900;
  }
  
  ::selection {
    background: #ffd900;
    color:#e33900;
  }
