body {
    margin: 10vh 10vw;
    color: #0066e3;
    font-family: urbanist;
}
* {
    margin: 0 0;
    padding: 0 0;
}

/* HOME */
.homepage {
    border: 3vw solid #e33900;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
}
.intro {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
}
.sophialiu {
    font-family: swungnote;
    font-size: 50px;
    color: #00aede;
    text-shadow: #0066e3 2.5px 2.5px;
    font-weight: lighter;
    margin-right: 5px;
}
.sophialiu:hover {
    color: #e33900;
    text-shadow: #ffd000 2.5px 2.5px;
    transition: all .2s linear;
}
.introsmall {
    font-size: 20px;
}
.desdev {
    font-family: swungnote;
    font-size: 28px;
    font-weight: regular;
    /* letter-spacing: 1px; */
}
.borzois {
    background-color: #ffd000;
    color: #e33900;
}

.contact {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nextpage {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    justify-content: right;
    cursor: pointer;
}
.thingsworkedon {
    font-weight: bold;
    font-size: 22px;
}
.nextpage:hover > .thingsworkedon {
    color: #e33900;
    transition: all .2s linear;
}
.nextpage:hover > .pointer {
    color: #e33900;
    transition: all .2s linear;
}
.pointer {
    font-size: 27px;
    margin-top: 3px;
}

/* why are there 4 */
.backcontainer-proj:hover > .back {
    color: #e33900;
    transition: all .2s linear;
}
.backcontainer-proj:hover > .backpointer {
    color: #e33900;
    transition: all .2s linear;
}
.backcontainer:hover > .back {
    color: #e33900;
    transition: all .2s linear;
}
.backcontainer:hover > .backpointer {
    color: #e33900;
    transition: all .2s linear;
}
.backpointer {
    font-size: 27px;
    position:relative;
    top:3px;
}

/* NAVBAR */
.navbar {
    display: flex;
    gap: 28px;
    margin: 8vh 0 0 7vw;
    align-self: flex-start;
    position: sticky;
    top: 4vh;
    z-index: 1;
}
ul {
    list-style-type: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items:baseline;
}
a {
    color: #0066e3;
    text-decoration: none;
}
li {
    font-size: 14px;
    rotate: -35deg;
    margin-left: -16px;
}
.swl {
    font-family: swungnote;
    font-size: 44px;
    /* letter-spacing: 1px; */
    margin-top: -15px;
    color: #00aede;
    text-shadow: #0066e3 2.5px 2.5px;
}
.swl:hover {
    color: #e33900;
    text-shadow: #ffd000 2.5px 2.5px;
    cursor: pointer;
    transition: all .2s linear;
}
.active {
    font-family: swungnote;
    font-size: 20px;
}
a:hover {
    color: #00aede;
    transition: all .2s linear;
}

/* WORK */
.page {
    border: 3vw solid #e33900;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.board {
    margin: 3vh 7vw 18vh 7vw;
    display: flex;
    width: 80vw;
    column-gap: 3vw;
}
.card {
    width: 39vw;
}

.cardtint {
    width: 39vw;
    position:relative;
    margin-bottom: 2vw;
}
.cardtint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 4px);
    background: none;
    transition: all .2s linear;
}
.cardtint:hover {
    cursor: pointer;
}
.wvcblue:hover:before { 
    background:#70adbff1;
    cursor: pointer;
}
.spotifygreen:hover:before { 
    background:#65d46eea;
    cursor: pointer;
}
.brown:hover:before { 
    background:#4d9d9eee;
    cursor: pointer;
}
.red:hover:before { 
    background:#d33520ea;
    cursor: pointer;
}
.pink:hover:before { 
    background:#e8338ee9;
    cursor: pointer;
}
.blue:hover:before { 
    background:#6f95e6ec;
    cursor: pointer;
}
.darkgreen:hover:before { 
    background:#2f6e47e9;
    cursor: pointer;
}
.kekaiblue:hover:before { 
    background:#73c3aee9;
    cursor: pointer;
}

.cardinfo {
    display: none;
    position: absolute;
    width: 38vw;
}
.cardtitle {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.carddescription {
    color: white;
    text-align: center;
    font-size: 18px;
}
.cardyear {
    color: white;
    font-size: 14px;
    font-family: jetbrains mono;
}
.cardtint:hover > .cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h2 {
    font-size: 28px;
    margin: 5vh 0 0 7vw;
    font-weight: regular;
    width: 82vw;
}

@media screen and (max-width: 768px) {
    .board {
        flex-direction: column;
    }
    .card {
        width: 80vw;
    }
    .cardtint.wvcblue, .cardtint.spotifygreen, .cardtint.brown, .cardtint.red, .cardtint.pink, .cardtint.blue, .cardtint.darkgreen, .cardtint.kekaiblue {
        width: 80vw;
    }
    .cardinfo {
        width: 80vw;
    }
}


/* 7/13/2024 */
.blog-image {
    width: 60%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
    margin-bottom: 10px;
}
.image-plus-desc {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-desc {
    width: 60%;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
.blog-header {
    font-weight: bold;
    font-size: 21px;
}
/* 7/25/24 */
.alison-letter-body {
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;
    color: black;
}
.letter-link {
    color: #0066e3;
    text-decoration: underline 1px #00aede;
    text-underline-offset: 4px;
}
.letter-link:hover {
    color: #00aede;
    text-decoration: underline 1px #00aede;
    transition: all .2s linear;
}
#update-line {
    border: none;
    margin-top: 100px;
    border-top: 5px dashed #e33900;
    margin-bottom: 100px;
}

/* contact images */
.contact-image {
    width: 21px;
    height: 21px;
    background-size: contain;
}
.email {
    background-image: url(./media/contact/email.png);
}
.linkedin {
    background-image: url(./media/contact/linkedin.png);
}
.github {
    background-image: url(./media/contact/github.png);
}
.spotify {
    background-image: url(./media/contact/spotify.png);
}
.email:hover {
    background-image: url(./media/contact/email-hover.png);
    transition: all .2s linear;
}
.linkedin:hover {
    background-image: url(./media/contact/linkedin-hover.png);
    transition: all .2s linear;
}
.github:hover {
    background-image: url(./media/contact/github-hover.png);
    transition: all .2s linear;
}
.spotify:hover {
    background-image: url(./media/contact/spotify-hover.png);
    transition: all .2s linear;
}

/* FOR PHONES */
@media screen and (max-width: 460px) {
    .blog-image {
        width: 80vw;
    }
    .image-desc {
        width: 80vw;
    }
    .sophialiu {
        font-family: swungnote;
        font-size: 44px;
        color: #00aede;
        text-shadow: #0066e3 1.5px 1.5px;
        font-weight: lighter;
        margin-right: 5px;
    }
    .sophialiu:hover {
        color: #e33900;
        text-shadow: #ffd000 1.5px 1.5px;
        transition: all .2s linear;
    }
    .navbar {
        margin: 6vh 0 0 7vw;
        top: 4vh;
        gap: 26px;
        align-items:flex-end;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    .swl {
        font-size: 42px;
        text-shadow: #0066e3 1.5px 1.5px;
    }
    .swl:hover {
        color: #e33900;
        text-shadow: #ffd000 1.5px 1.5px;
        cursor: pointer;
        transition: all .2s linear;
    }
    li {
        font-size: 12px;
        rotate: 0deg;
    }
    .active {
        font-size: 12px;
    }
    .cardinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .cardtitle {
        font-size: 28px;
    }
    .carddescription {
        font-size: 14px;
    }
    .wvcblue:before {
        background:#70adbfd6;
        cursor: pointer;
    }
    .spotifygreen:before { 
        background:#65d46ed8;
        cursor: pointer;
    }
    .brown:before { 
        background:#4d9d9ee1;
        cursor: pointer;
    }
    .red:before { 
        background:#d33520d0;
        cursor: pointer;
    }
    .pink:before { 
        background:#e8338ed4;
        cursor: pointer;
    }
    .blue:before { 
        background:#6f95e6dc;
        cursor: pointer;
    }
    .darkgreen:before { 
        background:#2f6e47d5;
        cursor: pointer;
    }
    .kekaiblue:before { 
        background:#73c3aee0;
        cursor: pointer;
    }
    .contact {
        font-size: 14px;
        font-weight: bold;
    }
    .borzoitest {
        font-weight: bold;
    }
    .thingsworkedon {
        font-weight: bold;
        font-size: 18px;
    }
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-bottom: 5vh; */
    bottom: 0;
    position: absolute;
}

/* whole vibe catalog */
.projtitle.wvc {
    font-family: windsor;
    font-weight: normal;
    font-size: 50px;
}

video {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}
.blog-heading {
    font-weight: bold;
    font-size: 45px;
    width: 100%;
    text-align: center;
}
.demo-outer {
    width: 80vw;
    margin-left: 7vw;
    margin-bottom: 100px;
}
.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}
.video-plus-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.video-desc {
    width: calc(80vw - 60% - 40px);
    font-size: 20px;
}
.vid-number {
    font-size: 45px;
    font-weight: bold;
}
.windsor-font {
    font-family: windsor;
    color: #000000;
}
.gap {
    height: 100px;
}
@media screen and (max-width: 800px) {
    .video-plus-desc {
        flex-direction: column;
    }
    video {
        width: 80vw;
    }
    .video-desc {
        width: 80vw;
    }
}
@media screen and (max-width: 480px) {
    .projtitle.wvc {
        font-family: windsor;
        font-size: 30px;
    }
    .blog-heading {
        font-size: 36px;
    }
    .vid-number {
        font-size: 40px;
    }
}

/* kekai */
.gif-desc {
    margin-top: 5px;
    /* width: 60%; */
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
.kekai-logo {
    width: 200px;
    margin-bottom: 10px;
}
.kekaigif {
    width: 380px;
    margin-top: 16px;
    margin-bottom: 5px;
}
@media screen and (max-width: 1050px) {
    .kekaigif {
        width: 100%;
    }
    .kekaigifcontainer {
        order: 2;
    }
}
.kekaigifcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}



/* soph.ai */
.large-iframe {
    margin-top: 5px;
}
.sophaipage {
    border: 3vw solid #e33900;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.sophdotai {
    margin: 0 7vw 5vh 7vw;
    display: flex;
    gap: 3vw;
}
.gifcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.back {
    font-size: 22px;
    font-weight: bold;
}
.backcontainer {
    margin: 6vh 0 6vh 0;
}
.backcontainer-proj {
    margin: 4vh 0 4vh 7vw;
}
.backarrow {
    font-size: 18px;
}
.back:hover {
    color: #e33900;
    transition: all .1s linear;
}
.projtitle {
    margin: 0 0 0.5vh 0;
    font-family: jetbrains mono;
    font-weight: bold;
    font-size: 48px;
}
.projsubtitle {
    margin-bottom: 3vh;
    font-size: 18px;
    font-weight: bold;
}
.gif {
    width: 500px;
    margin-top: 16px;
    margin-bottom: 5px;
}
.gifplaylist {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10vh;
}
.gifplaylist:hover {
    color: #00aede;
    transition: all .2s linear;
}
.playlistname {
    font-family: jetbrains mono;
}
.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vh;
}
.projdesc {
    font-size: 28px;
}
.projdescsmall {
    font-size: 20px;
}
.borzoitest {
    text-decoration: underline 2px #00aede;
    text-underline-offset: 3px;
    font-weight: bold;
}
.borzoitest:hover {
    color: #00aede;
    transition: all .2s linear;
}


@media screen and (max-width: 1050px) {
    .sophdotai {
        flex-direction: column;
    }
    .projtitle {
        font-size: 48px;
    }
    .gifcontainer {
        order: 2;
    }
    .words {
        order: 1;
        padding-bottom: 0;
    }
    .gif {
        width: 100%;
    }
    .sophaipage {
        bottom: auto;
    }
}


/* blog index */
.blogindex {
    border: 3vw solid #e33900;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.blogbar {
    margin: 0 0 0 7vw;
    font-size: 20px;
    font-weight: bold;
    font-family: jetbrains mono;
    width: 80vw;
}
.informal-entries {
    margin-top: 5vh;
    font-family: jetbrains mono;
    font-weight: lighter;
    list-style-position: inside;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 8vh;
}
.blog-entry {
    margin-bottom: 40px;
    display: flex;
    rotate: 0deg;
    font-size: 24px;
    line-height: 20px;
}
.date {
    font-size: 15px;
}

/* blog page */
.blogpage {
    border: 3vw solid #e33900;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}
.blogstuff {
    margin: 4vh 7vw 12vh 7vw;
    height: fit-content;
}
.blog-heading {
    margin-bottom: 5vh;
}
.blog-title {
    font-size: 45px;
    margin-bottom: 1vh;
    font-family: swungnote;
}
h1 {
    margin-bottom: 1vh;
}
.blog-desc {
    font-size: 18px;
}
.blog-date {
    font-family: jetbrains mono;
    font-size: 14px;
    margin-top: 1vh;
}
.blog-body {
    /* letter-spacing: 0.2; */
    font-size: 21px;
    margin-bottom: 5vh;
}

@media screen and (max-width: 430px) {
    .inprogress {
        margin-top:4vh;
    }
    .blog-title {
        font-size: 38px;
    }
}

/* youtube */
@media screen and (max-width: 780px) {
    .youtube {
        width: 100%;
    }
}

/* blog specific */
/* 12/4/23 */
.playlists {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.playlist-desc {
    font-size: 16px;
    font-family: jetbrains mono;
    margin-bottom: 10px;
}
.playlist-desc-comment {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* 1/4/24 */
.haiku-image {
    width: 80vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
    margin-bottom: 4vh;
}
.haiku-book {
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 4vh;
}
.haiku-image-small {
    width: 39vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}

/* key stuff */
.youtube {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .haiku-book {
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        margin-bottom: 4vh;
    }
    .haiku-image-small {
        width: 80vw;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
    }
}

@font-face {
    font-family: urbanist;
    src: url('./media/fonts/Urbanist-VariableFont_wght.ttf');
}
@font-face {
    font-family: swungnote;
    src: url('./media/fonts/Peralta-Regular.ttf');
}
@font-face {
    font-family: jetbrains mono;
    src: url('./media/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: Georgia;
    src: url(./media/fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: windsor;
    src: url(./media/fonts/Windsor\ Regular.ttf);
}

::-moz-selection { /* Code for Firefox */
    background: #ffd000;
    color:#e33900;
  }
  
  ::selection {
    background: #ffd900;
    color:#e33900;
  }
